.input-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: calc(100% - 2rem);
  bottom: 1rem;
  left: 0;
  margin: 0 1rem;
  .input-message-feild {
    display: flex;
    width: 100%;
    position: relative;

    .add-image-btn {
      position: absolute;
      cursor: pointer;
      border: none;
      padding: 0 5px;
      background-color: transparent;
      height: 50%;
      margin: auto;
      bottom: 0;
      right: 3rem;
      top: 0;
      svg {
        font-size: 20px;
        &:hover {
          color: #5eb2d3;
        }
      }
    }
  }

  .send-btn {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 0.5rem;
    background: rgb(0, 89, 255);
    padding: 0.6rem 1rem;
    color: white;
  }
}
.file-upload-container {
  z-index: 2;
  position: absolute;
  bottom: 4rem;
  left: 5%;
  .preview-container {
    position: relative;
    width: 30%;
    .preview-img {
      width: 100%;
      object-fit: cover;
      border-radius: 5%;
    }
    .close-icon {
      position: absolute;
      top: 0;
      right: 0;
      background-color: gray;
      color: white;
      padding: 3px;
      cursor: pointer;

      border-radius: 50%;
      &:hover {
        background-color: rgb(40, 37, 44);
        color: rgb(223, 223, 248);
      }
    }
  }
}
.react-input-emoji--input {
  padding-right: 25px !important;
  width: 95% !important ;
  max-height: 75px !important;
}
.react-emoji-picker--wrapper {
  right: 5px !important;
  overflow: unset !important;
}
