.head-chat-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 1rem;
  padding-bottom: 0.5rem;
  h2 {
    margin: 0;
  }
  .contact-name-contaienr {
    display: flex;
    .back-to-contact {
      cursor: pointer;
      background-color: transparent;
      border: none;
      margin-right: 0.2rem;
      @media screen and (min-width: 800px) {
        display: none;
      }
      display: block;
      &:hover {
        color: blue;
      }
    }
  }
  .chat-toolkit-container {
    .kit-btn {
      border: none;
      padding: 5px;
      background-color: transparent;
      cursor: pointer;

      svg {
        font-size: 20px;
        &:hover {
          color: rgb(0, 89, 255);
        }
      }
    }
  }
}

.wrapper-head-chat {
  border-bottom: 1px solid rgb(70, 66, 66);
  .find-message-container {
    margin: 0.5rem 1rem;
  }
}
